@font-face {
    font-family: 'Specify-PERSONAL-Expanded-Bold';
    src:url('../fonts/Specify-PERSONAL-Expanded-Bold.ttf.woff') format('woff'),
        url('../fonts/Specify-PERSONAL-Expanded-Bold.ttf.svg#Specify-PERSONAL-Expanded-Bold') format('svg'),
        url('../fonts/Specify-PERSONAL-Expanded-Bold.ttf.eot'),
        url('../fonts/Specify-PERSONAL-Expanded-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TikusPutih-semibold';
    src:url('TikusPutih-semibold.ttf.woff') format('woff'),
        url('TikusPutih-semibold.ttf.svg#TikusPutih-semibold') format('svg'),
        url('TikusPutih-semibold.ttf.eot'),
        url('TikusPutih-semibold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


body, html{
    font-family: 'Specify-PERSONAL-Expanded-Bold';
    color: white;
    background-color: #010101;
    margin: 0;
    padding: 0;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

header{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/fotoportfolio.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.rectangulo-verde{
    position: absolute;
    background-color: #47710d;
    opacity: 40%;
    height: 350px;
    width: 124px;
    right: 253px;
    top: 20%;
    z-index: 1; /*asegura que el rectangulo esta arriba*/
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
#logo{
    flex: 10%;
    max-width: 50px;
    max-height: 50px;
}

#img{
    max-width: 50px;
    max-height: 50px;
}

#listadenav{
    flex: 80%;
    align-self: self-start;
}
#button-getintouch{
    flex: 10%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    max-width: 110px;
}

#button-getintouchdos{
    background-color: #8aff00;
    border: 1px solid #8aff00;
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    max-width: 140px;
}

.maintexto{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    margin: 25px;
    margin-top: 10%;
}

.invisible{
    display: flex;
    width: 40%;
}

.presentacion{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 40%;
    height: 415px;
    align-items: center;
    justify-content: center;

}


.presentacion p{
    width: 70%;
    text-align:start;
}

ul{
    display: flex;
    margin: 20px;
}
.liheader{
    margin: 10px;
}

p{
    background-color:initial;
}

#nombre{
    margin: 10px;
    font-size: 80px;
}

.clientes h6{
    text-align: center;
    margin: 10px;
}

.scrolldown{
    max-width: 50px;
    max-height: 50px;
}

.divscroll{
    margin: 10px;
}

p, a{
    font-family:'Times New Roman', Times, serif;
    font-size: small;
    opacity: 60%;

}

.seccionuno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clienteslista ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.clienteslista ul li img{
    border: 1px solid #fff;
    padding: 20px;
    max-width: 100%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
    
}

.clientes{
    margin: 10px;
}

.secciondos{
display: flex;
flex-direction: row;
}

.secciondos h2{
    font-family: 'TikusPutih-semibold';
    font-size: 50px;
}

.sobremi, .desc-sobremi{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    margin: 20px;
}

.sobremi h1{
    width: 100%;
    text-align:start;

}

.sobremi p{
    margin: 0px;
    color: #8aff00;
}

#button { /*flecha no centrada totalmente*/
    width: 10px;
}

#button-hiremenow{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    max-width: 140px;
}

.desc-sobremi p{
    width: 100%;
    font-size: 20px;
}

.textodecatego p{
    font-size: 18px;
}

.flex-numgen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-num{
    display: flex;
}
.flex-num h2{
    margin: 2px;
}
#mas{
    color: #8aff00;
    
}

.flex-may{
    display: flex;
    margin-left: 20px;
    width: 100%;
}

.cubo {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.cubo img{
    margin: 30px;
    max-width: 100px;
    max-height: 100px;
}

#cubodos{
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

#cubodos img{
    position: absolute;
    left: -80px;
}

.sectiras{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

}

.tira{
    width: 300vh;
    height: 90px;
    background: #8aff00;
    transform: rotate(5deg);
    position: absolute;
    top: 70%;
    left: 40%;
    transform-origin: center center; /* fijar el centro de rotación */
    margin-top: -50px;
    margin-left: -50%; 
    display: flex;
    align-items: center;
}
.tirados{
    width: 300vh;
    height: 90px;
    background: #8aff00;
    transform: rotate(-5deg);
    position: absolute;
    top: 70%;
    left: 40%;
    transform-origin: center center; /* fijar el centro de rotación */
    margin-top: -50px;
    margin-left: -150vh; 
    display: flex;
    align-items: center;
    z-index: -1;
    opacity: 50%;
    
}

.textosuper{
    position: absolute;
    left: 80px;
    z-index: 1; 
    color: black;
    font-size: 35px;
    width: auto;
    height: auto;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.seccuatro{
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.mainseccuatro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cubosdos{
    display: flex;
    position: absolute;
    bottom: 1000px;
    right: 100px;
    flex-direction: column;
}

#cubocuatro{
    position: absolute;
    top: 50px;
    right: 75px;
}

#cubocuatro img{
    height: 50px;
    width: 50px;
}

.encabezado h1{
    width: 60%;
}

.encabezado{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.catego{
    display: flex;
    flex-direction: row;
}

.catego h2 {
    margin-right: 10px;
}

.tiposdeservice{
    font-family: 'TikusPutih-semibold';
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.textodecatego{
    display: flex;
    justify-content: end;
    position: relative;
}

#cubocinco {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: -50px;
}

#cubocinco img{
    max-width: 50px;
    max-height: 50px;
}

.textodecatego p{
    width: 50%;
}

#numeros{
    color: #8aff00;
}

.nombresdeservice li{
    border: 1px solid #fff;
    padding: 50px;
    max-width: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.seccinco{
    font-family: 'TikusPutih-semibold';
    padding-top: 30px;
    padding-left: 0;
    margin-top: 150px;
    background-color: #0b0b0b;
    height: auto;
}

.seccinco p{
    color: #8aff00;
    font-family: 'Specify-PERSONAL-Expanded-Bold';
}

#buttoninfo{
    color: #fff;
    opacity: 80%;
}

.ts{
    font-family: 'Specify-PERSONAL-Expanded-Bold';
}

.fecha{
    font-size: 40px;
    width: 100%;
}

.selecworks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selecworks div{
    margin: 100px;
}

.selecworks div p{
    opacity: 100%;
}

#parteuno{
    width: 80%;
}

#partedos{
    width: 20%;
}

.fotos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.fotos div{
    margin-right: 10px;
    background-color: #1d1d1d;
    padding: 50px;
}

.fotos div img{
    width: 100%;
    height: 100%;
}

#imgtres{
    margin-right: 0px;
}

#segundatiras{
    font-family: 'Specify-PERSONAL-Expanded-Bold';
    height: 150px;
}

#tiraacostada{
    transform: rotate(0deg);
    top: 100px;
    position: relative;
}

.secseis{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.colabytitulo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#subtitulo{
    margin-top: 0px;
    font-size: 60px;
    text-align: center;
    width: 60%;
}

#colab{
    color: #8aff00;
    font-family: 'Specify-PERSONAL-Expanded-Bold';
}

hr{
    color: gray;
    width: 90%;
    margin-bottom: 50px;
}

.botones{
    display: flex;
    justify-content: center;

}

.divbotones{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.cubofinaluno{
    right: 40px;
    position: absolute;
    top: 90px;
}

.cubofinaluno img{
    width: 100px;
}

.cubofinaldos{
    bottom: 10px;
    left: 40px;
    position: absolute;

}

.cubofinaldos img{
    width: 50px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.footderechos{
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
}

.footderechos p {
    padding: 10px;
    font-size: 15px;
    width: 60%;
}

.redes ul{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.redes ul li{
    margin: 5px;
}

#menosopac{
    opacity: 85%;
}


/*responsive*/

@media (max-width: 768px) {
}

@media (max-width: 480px) {

}

